{% include header.html %}
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
                <h2>{{ page.title }}</h2>
		<p class="major"> {{ content }}</p>
        </div>
        <div class="image">
                <img src="{{ "assets/images/" | append: page.image | relative_url }}" alt="" style="object-position:{{ page.image_position }};" />
        </div>
</section>
{% include footer.html %}
